/*
	Body style
*/
body,html{
	font-family:"Ubuntu", "lucida grande", tahoma, verdana, arial, sans-serif;
	height:100%;
	background-color: #FFF;
}
/*
	Round Buttons
*/
.btn.round {
  border-radius: 24px;
  color:#FFF;
}

/*
	Modal forms (Login,Register) styles
*/
.modal-header, h4, .close {
		background-color: #808080;
		color:white !important;
		text-align: center;
		font-size: 30px;
}

/*
	Increase icon size class
*/
.bigicon {
		font-size: 35px;
		color: #36A0FF;
}
/*
	Increase material-icons size class
*/
.material-icons.bigicon {
	font-size: 35px;
	color: #36A0FF;
}

/*
	Login/Register Form Response Labels
*/
.responseLabel {
	display:none;
	color:red;
}

#Section{
	margin:10px 2px;
	padding: 40px 40px 100px;
	background-color: #FFF;
	border-radius: 10px;
	box-shadow: 0px 0px 8px 0px #000;
	color:#000;
}

#Container{
	min-height: 100%;
}

#version-string{
  float:right;
  color:white;
  margin:10px;
}

.modal-link{
  border-radius: 24px;
  background-color: #337AB7;
  color:#FFF !important;
  cursor: pointer;
  height: 40px;
  padding-top: 10px !important;
  margin: 4px 1px;
}
.modal-link:hover{
  background-color: #316A9A !important;
}
